# ===========================
# Build
# ===========================

bin/
obj/

# ===========================
# Visual Studio
# ===========================

.vs/
*.user
*.suo

# ===========================
# Visual Studio Code
# ===========================

.vscode/

# ===========================
# Rider
# ===========================

.idea/

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Environment
# ===========================

.env

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db
